.bg{
    margin: 0;
    padding: 0;
    height: 92vh;
    background-color: black;
    padding-top: 100px;
    
}

.container {
    display: flex;
    justify-content: space-around;
    height: 450px;
    margin-top: 50px;

}
.text, .desc{
    color: white;
}

.text span{
    color: aqua;
    animation: fontcolor 6s infinite;
}

.profilePic {
    border-radius: 35%;
    margin: 40px 150px;
    height: 300px;
    box-shadow: 0 0 20px rgb(101, 130, 243);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    color: white;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.btn a{
    text-decoration: none;
    color: white;
    text-align: center;
}
    
@keyframes fontcolor {
    0% {
        color: aqua;
    }
    25%{
        color: rgb(61, 237, 84);
    }
    50% {
        color: rgb(246, 155, 44);
    }
    100% {
        color: rgb(253, 230, 78);
    }
}

@media screen and (min-width: 480px) and (max-width: 995px) {

    .bg{
        margin: 0;
        padding: 0;
        height: fit-content;
        background-color: black;
        padding-top: 30px;
        padding-bottom: 20px;
        
    }
    .container{
        display: block;
    }
    .profilePic {
        border-radius: 35%;
        width: 30%;
        margin: 10px 35%;
        height: 200px;
        box-shadow: 0 0 20px rgb(101, 130, 243);
    }

    .content{
        text-align: center;
        margin-top: 10px;
    }
    .text{
        font-size: medium;
    }
    .desc{
        margin: 20px 15%;
        width: 70%;
        font-size: small;
    }
}

@media screen and (max-width: 479.9px) {
    .bg{
        margin: 0;
        padding: 0;
        height: fit-content;
        background-color: black;
        padding-top: 30px;
        padding-bottom: 20px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .profilePic {
        border-radius: 35%;
        width: 30%;
        margin: 10px 35%;
        height: 200px;
        box-shadow: 0 0 20px rgb(101, 130, 243);
    }

    .content{
        text-align: center;
        margin-top: 10px;
    }
    .text{
        font-size: medium;
    }
    .desc{
        margin: 20px 15%;
        width: 70%;
        font-size: small;
    }
    .icon{
        color: white;
        width: 26px;
        height: 26px;
        margin-right: 10px;
    }
    .btn{
        width: fit-content;
        height: fit-content;
    }

    .btn a{
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
}