.bg{
    margin: 0;
    padding: 0;
    height: 92vh;
    background-color: black;
    padding-top: 100px;
    
}

.container {
    display: flex;
    justify-content: space-around;
    height: 450px;

}
.text, .desc{
    color: white;
}

.text span{
    color: aqua;
    animation: fontcolor 6s infinite;
}

.profilePic {
    border-radius: 35%;
    margin: 40px 150px;
    height: 300px;
    box-shadow: 0 0 20px rgb(101, 130, 243);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
@keyframes fontcolor {
    0% {
        color: aqua;
    }
    25%{
        color: rgb(61, 237, 84);
    }
    50% {
        color: rgb(246, 155, 44);
    }
    100% {
        color: rgb(253, 230, 78);
    }
}

@media screen and (max-width: 995px) {
    .container{
        display: block;
    }
    .profilePic {
        border-radius: 35%;
        width: 30%;
        margin: 10px 35%;
        height: 200px;
        box-shadow: 0 0 20px rgb(101, 130, 243);
    }

    .content{
        text-align: center;
        margin-top: 10px;
    }
    .text{
        font-size: medium;
    }
    .desc{
        margin: 20px 15%;
        width: 70%;
        font-size: small;
    }
}