.contactBg{
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 80px;
    padding-bottom: 30px;
}

.header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 20px black;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 60px 25%;
    border: 1px solid #0082F4;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #0082F4;
}

.inputDiv{
    margin: 10px 20%;
    display: flex;
    flex-direction: column ;
}

.inputDiv label{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}

.inputDiv input {
    border: 1px solid #0082F4;
    background-color: black;
    border-radius: 10px;
    height: 40px;
    color: white;
    padding: 10px;
}

.inputDiv textarea {
    border: 1px solid #0082F4;
    background-color: black;
    border-radius: 10px;
    height: 70px;
    color: white;
}

.btn{
    text-align: center;
    margin: 20px;
}

.btn input {
    margin: 10px 15px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .form{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 40px 15%;
        border: 1px solid #0082F4;
        border-radius: 20px;
        padding: 10px 20px;
        box-shadow: 0 0 10px #0082F4;
    }

    .inputDiv{
        margin: 5px 10%;
        display: flex;
        flex-direction: column ;
    }
}